* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #FFF;
}

body {
  height: 100%;
  background: rgb(2, 8, 88);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

/* Formulario */
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.formulario input::placeholder {
  font-size: 18px;
  color: rgb(156, 120, 156);
}

.formulario__grupo {
  display: block;
  justify-content: center;
  align-items: center;
}

.formulario input,
select {
  width: 95%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
}

.formulario__label {  
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.formulario input:focus,
select:focus {
  border: 3px solid #fa61ed;
  outline: none;
  box-shadow: 3px 0 30px rgba(163,163,163,0.4);
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 100px;
  background: rgb(57, 60, 255);
  color: rgb(255, 227, 251);
  font-weight: 800;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
  margin-top: 50px;
}

.formulario__btn:hover {
  box-shadow: 3px 0 10px rgb(151, 113, 255);
}

.formulario__grupo-input option {
  font-size: 16px;
}

.formulario__grupo input,
select {
  color: #6d0283;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

hr {
  width: 76%;
  margin: 60px auto 0px;
}

/* Botones de Fondos */
.botones-fondos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 20px 0;
}

.canva-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;  
  margin-top: 50px;
}

.canva {
  background-image: url('https://res.cloudinary.com/dyfvpilfz/image/upload/v1671220386/2_nfc17z.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 720px;
  height: 1280px;
}

.canva p {
  font-size: 40px;
  flex-wrap: wrap;
  word-break: keep-all;
  width: 580px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #000c4d 3px 3px 5px;
  padding: 5px 5px;
}

.textos-canvas, .menu-hoy {
  background: rgb(185, 185, 185, .50);
  border-radius: 30px;  
  padding: 20px 20px;
}

.textos-canvas div {
  padding: 20px 0;
}

.botones-descarga {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 600px;
  margin-bottom: 40px;
}

.texto-footer {
  font-size: 24px;
  margin: 80px 220px 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.texto-antes-botones-descarga {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0;
  font-size: 24px;
}

/* Responsive - Mobile */
@media (max-width: 800px){
  .botones-fondos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 400px;
  }

  .canva-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }  

  .botones-descarga {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 40px;
    user-select: none;
    cursor: pointer;
  }

  .texto-footer {
    font-size: 24px;
    margin: 80px 80px 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .texto-antes-botones-descarga {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0;
    font-size: 24px;
  }

}
